@model ElectricityWeb.Models.Engines.AsyncEngineModel

@{
    ViewBag.Title = "Асинхронный двигатель";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="calcs">
    @using (Html.BeginForm("Async", "Engine", FormMethod.Post, new { @class = "input-form" })) {
        <fieldset>
            <div class="form-group">
                @Html.LabelFor(x => Model.NominalPower, new { @class = "control-label" })
                <div class="input-group">
                    @Html.TextBoxFor(x => Model.NominalPower, new { @class = "form-control" })
                    <span class="input-group-addon">@Model.NominalPowerUnits</span>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => Model.NominalVoltage)
                <div class="input-group">
                    @Html.TextBoxFor(x => Model.NominalVoltage, new { @class = "form-control" })
                    <span class="input-group-addon">@Model.NominalVoltageUnits</span>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => Model.Frequency)
                <div class="input-group">
                    @Html.TextBoxFor(x => Model.Frequency, new { @class = "form-control" })
                    <span class="input-group-addon">@Model.FrequencyUnits</span>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => Model.UsingCoefficient)
                <div class="input-group">
                    @Html.TextBoxFor(x => Model.UsingCoefficient, new { @class = "form-control" })
                    <span class="input-group-addon">@Model.UsingCoefficientUnits</span>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => Model.Cosinus)
                <div class="input-group">
                    @Html.TextBoxFor(x => Model.Cosinus, new { @class = "form-control" })
                    <span class="input-group-addon">@Model.CosinusUnits</span>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => Model.CurrentsRelation)
                <div class="input-group">
                    @Html.TextBoxFor(x => Model.CurrentsRelation, new { @class = "form-control" })
                    <span class="input-group-addon">@Model.CurrentsRelationUnits</span>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => Model.MomentsRelation)
                <div class="input-group">
                    @Html.TextBoxFor(x => Model.MomentsRelation, new { @class = "form-control" })
                    <span class="input-group-addon">@Model.MomentsRelationUnits</span>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Рассчитать" class="btn btn-primary" />
            </div>
        </fieldset>
    }
</section>
