@model ElectricityWeb.Models.Engine.SerialEngineModel

@{
    ViewBag.Title = "Двигатель последовательного возбуждения";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-logo">
    <img src="~/Content/Images/engine2.png" class="visualizing" />
</section>
<section class="calcs">
    @if (!string.IsNullOrEmpty(ViewBag.Error)) {
        <div class="error">@ViewBag.Error</div>
    }
    @using (Html.BeginForm("Serial", "Engine", FormMethod.Post)) {
        <fieldset>
            <div class="row">
                <div class="six columns">
                    @Html.LabelFor(x => Model.NominalPower)
                    <div class="u-full-width">
                        @Html.TextBoxFor(x => Model.NominalPower, new { placeholder = Model.NominalPower })
                        <span>@Model.NominalPowerUnits</span>
                    </div>
                </div>

                <div class="six columns">
                    @Html.LabelFor(x => Model.NominalVoltage)
                    <div class="u-full-width">
                        @Html.TextBoxFor(x => Model.NominalVoltage, new { placeholder = Model.NominalVoltage })
                        <span>@Model.NominalVoltageUnits</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="six columns">
                    @Html.LabelFor(x => Model.Frequency)
                    <div>
                        @Html.TextBoxFor(x => Model.Frequency, new { @class = "form-control" })
                        <span>@Model.FrequencyUnits</span>
                    </div>
                </div>

                <div class="six columns">
                    @Html.LabelFor(x => Model.AnchorPower)
                    <div>
                        @Html.TextBoxFor(x => Model.AnchorPower, new { @class = "form-control" })
                        <span>@Model.AnchorPowerUnits</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="six columns">
                    @Html.LabelFor(x => Model.WindPower)
                    <div>
                        @Html.TextBoxFor(x => Model.WindPower, new { @class = "form-control" })
                        <span>@Model.WindPowerUnits</span>
                    </div>
                </div>

                <div class="six columns">
                    @Html.LabelFor(x => Model.MomentPower)
                    <div>
                        @Html.TextBoxFor(x => Model.MomentPower, new { @class = "form-control" })
                        <span>@Model.MomentPowerUnits</span>
                    </div>
                </div>
            </div>

            <div>
                <input type="submit" value="Рассчитать" class="button-primary" />
            </div>
        </fieldset>
    }
</section>
<section class="results">
    @if (Model.HasResult) {
        <div class="form-group">
            @Html.LabelFor(x => Model.SummaryPower, new { @class = "control-label" })
            <div class="input-group">
                @Html.DisplayFor(x => Model.SummaryPower, new { @class = "form-control" })
                @Model.SummaryPowerUnits
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => Model.NominalCurrent, new { @class = "control-label" })
            <div class="input-group">
                @Html.DisplayFor(x => Model.NominalCurrent, new { @class = "form-control" })
                @Model.NominalCurrentUnits
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => Model.NominalMoment, new { @class = "control-label" })
            <div class="input-group">
                @Html.DisplayFor(x => Model.NominalMoment, new { @class = "form-control" })
                @Model.NominalMomentUnits
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => Model.AnchorResistance, new { @class = "control-label" })
            <div class="input-group">
                @Html.DisplayFor(x => Model.AnchorResistance, new { @class = "form-control" })
                @Model.AnchorResistanceUnits
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => Model.WindingResistance, new { @class = "control-label" })
            <div class="input-group">
                @Html.DisplayFor(x => Model.WindingResistance, new { @class = "form-control" })
                @Model.WindingResistanceUnits
            </div>
        </div>
    }
</section>

