<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title</title>

    <!--jQuery
    ------------------------------------------------>
    <script src="http://code.jquery.com/jquery.min.js"></script>

    <!-- Skeleton styles
    ------------------------------------------------>
    <link href="~/Content/skeleton/normalize.css" rel="stylesheet" />
    <link href="~/Content/skeleton/skeleton.css" rel="stylesheet" />

    <!--Bootstrap
    ------------------------------------------------>
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>*@

    <!-- Custom styles
    ------------------------------------------------>
    <link rel="stylesheet" href="~/Styles/scss/site.css" />
    <link rel="stylesheet" href="~/Styles/scss/menu.css" />

</head>
<body class="container u-max-full-width">
    <div class="row">
        <aside class="three columns">
            <nav role="navigation">
                <ul>
                    <li class="menu-item"><div class="indented"><a href="@Url.Action("Index", "Home")">Главная</a></div></li>
                    <li>
                        <span class="indented">Потери</span>
                        <ul>
                            <li class="menu-item">
                                <div class="indented"><a href="@Url.Action("TransformatorLoss", "Home")">Потери в трансформаторе</a></div>
                            </li>
                            <li class="menu-item"><div class="indented"><a href="@Url.Action("TransmissionLoss", "Home")">Потери в линиях передач</a></div></li>
                        </ul>
                    </li>
                    <li>
                        <span class="indented">Двигатели</span>
                        <ul>
                            <li class="menu-item"><div class="indented"><a href="@Url.Action("Async", "Engine")">Асинхронный двигатель</a></div></li>
                            <li class="menu-item"><div class="indented"><a href="@Url.Action("Parallel", "Engine")">Двигатель параллельного возбуждения</a></div></li>
                            <li class="menu-item"><div class="indented"><a href="@Url.Action("Serial", "Engine")">Двигатель последовательного возбуждения</a></div></li>
                        </ul>
                    </li>
                    <li>
                        <span class="indented">Линии</span>
                        <ul>
                            <li class="menu-item"><div class="indented"><a href="@Url.Action("Choose", "Line")">Расчет сечения провода</a></div></li>
                        </ul>
                    </li>
                    <li class="menu-item"><div class="indented"><a href="#">О сайте</a></div></li>
                </ul>
            </nav>
        </aside>
        <main class="nine columns">
            <header>
                <h1>@ViewBag.Title</h1>
            </header>
            @RenderBody()
        </main>
    </div>

    <script src="~/Scripts/menu.js"></script>
</body>
</html>