<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>@ViewBag.Title</title>

    <!-- jQuery
    ------------------------------------------------>
    <script src="http://code.jquery.com/jquery.min.js"></script>

    <!-- Materialize
    ------------------------------------------------>
    <link href="~/Content/css/materialize.min.css" rel="stylesheet" media="screen,projection" />
    <script src="~/Content/js/bin/materialize.min.js"></script>


    <!-- Custom styles
    ------------------------------------------------>
    <link rel="stylesheet" href="~/Content/css/site.min.css" />
    <link rel="stylesheet" href="~/Content/css/menu.min.css" />
    <script src="~/Content/js/site.js"></script>

</head>
<body class="container">
    <header>
        <h1>@ViewBag.Title</h1>
        <ul id="losses_dropdown" class="dropdown-content">
            <li><a href="@Url.Action("TransformatorLoss", "Home")">Потери в трансформаторе</a></li>
            <li><a href="@Url.Action("TransmissionLoss", "Home")">Потери в линиях передач</a></li>
        </ul>
        <ul id="engines_dropdown" class="dropdown-content">
            <li><a href="@Url.Action("Async", "Engine")">Асинхронный двигатель</a></li>
            <li><a href="@Url.Action("Parallel", "Engine")">Двигатель параллельного возбуждения</a></li>
            <li><a href="@Url.Action("Serial", "Engine")">Двигатель последовательного возбуждения</a></li>
        </ul>
        <ul id="lines_dropdown" class="dropdown-content">
            <li>
                <a href="@Url.Action("Choose", "Line")">Расчет сечения провода</a>
            </li>
        </ul>
        <nav role="navigation">
            <div class="nav-wrapper">
                <ul class="right hide-on-med-and-down">
                    <li><a href="@Url.Action("Index", "Home")">Главная</a></li>
                    <li>
                        <a class="dropdown-button" data-activates="losses_dropdown" href="#">Потери<i class="mdi-navigation-arrow-drop-down right"></i></a>
                    </li>
                    <li>
                        <a class="dropdown-button" data-activates="engines_dropdown" href="#">Двигатели<i class="mdi-navigation-arrow-drop-down right"></i></a>
                    </li>
                    <li>
                        <a class="dropdown-button" data-activates="lines_dropdown" href="#">Линии<i class="mdi-navigation-arrow-drop-down right"></i></a>
                    </li>
                    <li><a href="#">О сайте</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
</body>
</html>