<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="~/Content/site.css" />
    <link rel="stylesheet" href="~/Content/menu.css"/>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="~/Scripts/chart/Chart.min.js"></script>
</head>
<body>
    <header>
        <nav role="navigation">
            <ul>
                <li><a href="@Url.Action("Index", "Home")">Главная</a></li>
                <li>
                    <a href="#">Потери</a>
                    <ul>
                        <li><a href="@Url.Action("TransformatorLoss", "Home")">Потери в трансформаторе</a></li>
                        <li><a href="@Url.Action("TransmissionLoss", "Home")">Потери в линиях передач</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Двигатели</a>
                    <ul>
                        <li><a href="@Url.Action("Async", "Engine")">Асинхронный двигатель</a></li>
                        <li><a href="@Url.Action("Parallel", "Engine")">Двигатель параллельного возбуждения</a></li>
                        <li><a href="@Url.Action("Serial", "Engine")">Двигатель последовательного возбуждения</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Линии</a>
                    <ul>
                        <li><a href="@Url.Action("Choose", "Line")">Расчет сечения провода</a></li>
                    </ul>
                </li>
                <li><a href="#">О сайте</a></li>
            </ul>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer></footer>

    
    <script src="~/Scripts/menu.js"></script>
</body>
</html>