@model ElectricityWeb.Models.Losses.TransformatorLossModel

@{
    ViewBag.Title = "Потери в трансформаторе";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-logo">
    <img src="~/Content/Images/transformator.png" class="visualizing" />
</section>

<section class="calcs">
    @if (!string.IsNullOrEmpty(ViewBag.Error)) {
        <div class="error">@ViewBag.Error</div>
    }
    @using (Html.BeginForm("TransformatorLoss", "Home", FormMethod.Post, new { @class = "input-form" })) {
        <fieldset>
            <div class="form-group">
                @Html.LabelFor(x => Model.NominalPower, new { @class = "control-label" })
                <div class="input-group">
                    @Html.TextBoxFor(x => Model.NominalPower, new { @class = "form-control" })
                    <span class="input-group-addon">@Model.NominalPowerUnits</span>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => Model.NominalVoltage)
                <div class="input-group">
                    @Html.TextBoxFor(x => Model.NominalVoltage, new { @class = "form-control" })
                    <span class="input-group-addon">@Model.NominalVoltageUnits</span>
                </div>

            </div>

            <div class="form-group">
                @Html.LabelFor(x => Model.ConsumedEnergy)
                <div class="input-group">
                    @Html.TextBoxFor(x => Model.ConsumedEnergy, new { @class = "form-control" })
                    <span class="input-group-addon">@Model.ConsumedEnergyUnits</span>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => Model.IdlingPowerLoss)
                <div class="input-group">
                    @Html.TextBoxFor(x => Model.IdlingPowerLoss, new { @class = "form-control" })
                    <span class="input-group-addon">@Model.IdlingPowerLossUnits</span>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => Model.ShortCircuitLoss)
                <div class="input-group">
                    @Html.TextBoxFor(x => Model.ShortCircuitLoss, new { @class = "form-control" })
                    <span class="input-group-addon">@Model.ShortCircuitLossUnits</span>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => Model.LoadedHourCount)
                <div class="input-group">
                    @Html.TextBoxFor(x => Model.LoadedHourCount, new { @class = "form-control" })
                    <span class="input-group-addon">@Model.LoadedHourCountUnits</span>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => Model.ConnectedTime)
                <div class="input-group">
                    @Html.TextBoxFor(x => Model.ConnectedTime, new { @class = "form-control" })
                    <span class="input-group-addon">@Model.ConnectedTimeUnits</span>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Рассчитать" class="btn btn-primary"/>
            </div>
        </fieldset>
    }
</section>

<section class="results">
    @if (Model.HasResult) {
        <div class="form-group">
            @Html.LabelFor(x => Model.Loss, new { @class = "control-label" })
            <div class="input-group">
                @Html.DisplayFor(x => Model.Loss, new { @class = "form-control" })
                @Model.LossUnits
            </div>
        </div>
    }
</section>

