@model ElectricityWeb.Models.Losses.TransmissionLossModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Потери в линиях электропередач";
}

<section class="page-logo">
    <img src="~/Content/Images/transmission2.png" class="visualizing" />
</section>

<section class="calcs">
    @if (!string.IsNullOrEmpty(ViewBag.Error)) {
        <div class="error">@ViewBag.Error</div>
    }
    @using (Html.BeginForm("TransmissionLoss", "Home", FormMethod.Post)) {
        <fieldset>
            <div class="form-group">
                @Html.LabelFor(x => Model.PhaseCount, new { @class = "control-label" })
                <div class="input-group">
                    @Html.TextBoxFor(x => Model.PhaseCount, new { @class = "form-control" })
                    <span class="input-group-addon">@Model.PhaseCountUnits</span>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => Model.Resistivity, new { @class = "control-label" })
                <div class="input-group">
                    @Html.TextBoxFor(x => Model.Resistivity, new { @class = "form-control" })
                    <span class="input-group-addon">@Model.ResistivityUnits</span>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => Model.Current, new { @class = "control-label" })
                <div class="input-group">
                    @Html.TextBoxFor(x => Model.Current, new { @class = "form-control" })
                    <span class="input-group-addon">@Model.CurrentUnits</span>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => Model.Length, new { @class = "control-label" })
                <div class="input-group">
                    @Html.TextBoxFor(x => Model.Length, new { @class = "form-control" })
                    <span class="input-group-addon">@Model.LengthUnits</span>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => Model.Size, new { @class = "control-label" })
                <div class="input-group">
                    @Html.TextBoxFor(x => Model.Size, new { @class = "form-control" })
                    <span class="input-group-addon">@Model.SizeUnits</span>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => Model.Time, new { @class = "control-label" })
                <div class="input-group">
                    @Html.TextBoxFor(x => Model.Time, new { @class = "form-control" })
                    <span class="input-group-addon">@Model.TimeUnits</span>
                </div>
            </div>

            <div>
                <input type="submit" value="Рассчитать" class="btn btn-primary" />
            </div>
        </fieldset>
    }

</section>

<section class="results">
    @if (Model.HasResult) {
        <div class="form-group">
            @Html.LabelFor(x => Model.Loss, new { @class = "control-label" })
            <div class="input-group">
                @Html.DisplayFor(x => Model.Loss, new { @class = "form-control" })
                @Model.LossUnits
            </div>
        </div>
    }
</section>
